<section>
  <header class="page-header">
    <h1>About Us</h1>
  </header>
  <article>
    <p>Welcome to our very legitimate store. We sell only the most legitimate products here. Yes siree.</p>
    <p class='text-danger'>We are not affiliated with any other forest-based e-commerce platform. Especially not the one you're thinking of.</p>
  </article>
</section>